$italy-blue: #0066cc;
$italy-green: #008C45;
$italy-white: #F4F5F0;
$italy-red: #CD212A;
$title-color: desaturate(darken($italy-blue, 20%), 40%);

$theme-colors: (
  "primary": $italy-blue,
  "secondary": desaturate(darken($italy-blue, 30%), 20%),
  "light": white
);

@import "~bootstrap-italia/src/scss/bootstrap-italia.scss";

.form-group input[required]+label:after { 
  color: theme-color('danger');
  content: "*";
  margin-left: 0.25em;
}

body {
  background: theme-color('secondary');

  .page-sheet {
    background: white;
  }
}